<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NGO",
  "name": "ThinkLink Association",
  "url": {{ '/' | absolute_url | jsonify }},
  "logo": {{ '/assets/img/logo-mark.png' | absolute_url | jsonify }},
  "description": {{ site.description | jsonify }},
  "email": "info@thinklinkassociation.org",
  "foundingDate": "2021",
  "availableLanguage": ["de", "en"],
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "c/o Albert Bächtoldstrasse 21",
    "postalCode": "8127",
    "addressLocality": "Forch",
    "addressCountry": "CH"
  }
}
</script>
